%h1= @resource.name

.row
  - @resource.picture_details.each do |picture_detail|
    .col-lg-4.d-flex.align-items-stretch
      = bootstrap_card(image_options: { src: main_app.url_for(picture_detail.asset)}, additional_css_classes: 'text-center border-0' ) do
        .card-body
          %h5.card-title
            = picture_detail.title
          %p.card-text
            = picture_detail.description

.row.mt-4
  .col-12
    = link_to(t('.back'), last_location, class: 'btn btn-primary')